Django==4.2.7
djangorestframework==3.14.0
celery==5.3.4
redis==4.6.0
telethon==1.28.5
tronpy==0.2.10
web3==6.11.0
channels==4.0.0
channels-redis==4.1.0
django-celery-beat==2.5.0
django-crispy-forms==2.0
crispy-bootstrap5==0.7
